<h2> Add Comment </h2>
<%= form_for ([@post, @post.comments.build]) do |f| %>

  <p>
    <!-- <%= f.label :body %><br> -->
    <%= f.text_field(:body, {:class => 'form-control'}) %>
  </p>

  <p>
    <%= f.submit({:class => 'btn btn-primary'}) %>
  </p>
  <% end %>
