<h4> My profile </h4>
<%= @user.name %>, <%= @user.email %>
</br>
</br>
</br>

<div class="col-md-8">
  <% if @user.posts.any? %>
    <h3>My Posts(<%= @user.posts.count %>)</h3>
    <ol class="posts">
      <!-- SOMETHING THAT DISPLAYS THE USERS POSTS -->
    </ol>
  <% end %>
</div>



</br>
</br>
