<h1>Blog Posts</h1>
<div class="well well-sm">
<% @posts.each do |post| %>
    <h3><%= post.title %></h3>
    <p><%= post.body %></p>
    <%= link_to "Read More", post_path(post), :class => 'btn btn-light' %>
<% end %>
</div>
